<h1>Editing realm</h1>

<% form_for(@realm) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :population %><br />
    <%= f.text_field :population %>
  </p>
  <p>
    <%= f.label :locale %><br />
    <%= f.text_field :locale %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @realm %> |
<%= link_to 'Back', realms_path %>