<% if @total == 0 %>
	<p>No entries found.</p>
<% else %>
	<table>
		<tr>
			<th width="5%">
				<%= image_tag("spinner.gif", :align => "absmiddle", :border => 0, :id => "spinner-status", :style => "display:none;") %>
				<%= sort_site_helper "Status", "status" %>
			</th>
			<th>
				<%= image_tag("spinner.gif", :align => "absmiddle", :border => 0, :id => "spinner-name", :style => "display:none;") %>
				<%= sort_site_helper "Name", "name" %>
			</th>
			<th>
				<%= image_tag("spinner.gif", :align => "absmiddle", :border => 0, :id => "spinner-type", :style => "display:none;") %>
				<%= sort_site_helper "Type", "type" %>
			</th>
			<th>
				<%= image_tag("spinner.gif", :align => "absmiddle", :border => 0, :id => "spinner-population", :style => "display:none;") %>
				<%= sort_site_helper "Population", "population" %>
			</th>
			<th>
				<%= image_tag("spinner.gif", :align => "absmiddle", :border => 0, :id => "spinner-locale", :style => "display:none;") %>
				<%= sort_site_helper "Locale", "locale" %>
			</th>
			<th>Queue</th>
		</tr>
		
		<% @realms.each do |realm| %>
			<tr class="<%= cycle('odd', 'even') %>">
				<td width="5%" align="center">
					<div class="status"><%= image_tag realm.status + ".png", :border => 0, :alt => realm.status.titleize, :title => realm.status.titleize %></div>
				</td>
				<td align="left"><%= link_to realm.name, realm.wiki %></td>
				<td align="center" class="<%= realm.realmtype.downcase.gsub(' ', '') %>"><%= realm.realmtype %></td>
				<td align="center" class="<%= realm.population.downcase.gsub('/', '') %>"><%= realm.population %></td>
				<td align="center"><%= image_tag("flags/" + realm.flag, :title => realm.locale) %>&nbsp;<%= realm.locale %></td>
				<td align="center"><%= realm.queue %></td>
			</tr>
		<% end %>
	</table>
	<br />
	<%= page_entries_info @realms %>
	<%= will_paginate @realms, {:params => {:filter => params[:filter], :query => params[:query], :sort => params[:sort], :type => params[:type], :pop => params[:pop], :locale => params[:locale]}} %>
	<br />
<% end %>