<% if Realm.update? %>
	<div id="needs_update">
		A realm update has been requested.
		<%= link_to "Click Here", update_url %> to begin the update.<br />
		<span style="font-style:italic;font-weight:normal;">This may take a few seconds to finish.</span>
	</div>
	<script type="text/javascript">
		<%= visual_effect(:blind_down, "needs_update") %>
	</script>
	<br />
<% end %>
<% if flash[:notice] -%>
	<div id="notice">
		<a href="#" onclick="jQuery('#notice').hide();" style="float:right;"><%= image_tag("error.png", :border => 0, :width => 15, :height => 15) %></a>
		<%= flash[:notice] %>
	</div>
	<script type="text/javascript">
		<%= visual_effect(:highlight, "notice", :startcolor => "#ffff99", :endcolor => "#f0f0f0") %>
	</script>
<% end -%>
<div style="float:left;display:inline;padding-left:3px;">
	<% (97..122).to_a.each do |letter| %>
		<%= sort_first_character letter.chr %>
		&nbsp;|&nbsp;
	<% end %>
	<%= sort_first_character 'reset' %>&nbsp;
	<%= image_tag "spinner-search.gif", :align => "absmiddle", :border => 0, :id => "spinner-char", :style => "display:none;" %>
</div>
<div id="dosearch" style="float:right;display:inline;padding-right:3px;">
	<form name="sform" action="" method="post" style="display:inline;">
		<%= text_field_tag :query, params['query'], :size => 10, :id => 'query' %>
	</form>
	<%= image_tag("spinner-search.gif", :align => "absmiddle", :border => 0, :id => "spinner", :style => "display: none;" ) %>
</div>
<br />
<%= observe_field 'query', :frequency => 1, :update => 'table', :before => "jQuery('#spinner').show()", :success => "jQuery('#spinner').hide()", :url => {:action => 'index'}, :with => 'query' %>
<div class="filterform" align="left" style="display:block;padding-left:3px;margin-top:10px;margin-bottom:10px;">
	<fieldset style="padding-bottom:10px;">
		<legend>Filter Realms</legend>
			<form name="filterage" action="" method="post" style="display:inline;">
				<%= image_tag("spinner-search.gif", :align => "middle", :border => 0, :id => "spinner-type", :style => "display:none;") %>
				<%= select_tag "type", options_for_select(Realm.gettypes) %>&nbsp;&nbsp;
				<%= image_tag("spinner-search.gif", :align => "middle", :border => 0, :id => "spinner-pop", :style => "display:none;") %>
				<%= select_tag "pop", options_for_select(Realm::POPULATION) %>&nbsp;&nbsp;
				<%= image_tag("spinner-search.gif", :align => "middle", :border => 0, :id => "spinner-locale", :style => "display:none;") %>
				<%= select_tag "locale", options_for_select(Realm.getlocales) %>&nbsp;&nbsp;
			</form>
			<%= observe_field "type", :frequency => 2, :update => "table", :before => "jQuery('#spinner-type').show();", :success => "jQuery('#spinner-type').hide();", :url => {:controller => "status", :action => "index"}, :with => "type" %>
			<%= observe_field "pop", :frequency => 2, :update => "table", :before => "jQuery('#spinner-pop').show();", :success => "jQuery('#spinner-pop').hide();", :url => {:controller => "status", :action => "index"}, :with => "pop" %>
			<%= observe_field "locale", :frequency => 2, :update => "table", :before => "jQuery('#spinner-locale').show();", :success => "jQuery('#spinner-locale').hide();", :url => {:controller => "status", :action => "index"}, :with => "locale" %>
	</fieldset>
</div>
<div id="table">
	<%= render :partial => "realms_list" %>
</div>