<% if Realm.update? %>
	<div id="needs_update">
		<a href="#" onclick="jQuery('#needs_update').hide(); jQuery('#update_filler').hide();" style="float:right;padding-right:5px;">
			<%= image_tag("close.png", :align => "absmiddle", :border => 0, :height => 15, :width => 15, :title => "Click to Ignore") %>
		</a>
		<div id="update_main">
			<%= image_tag("notice.png", :align => "absmiddle", :border => 0, :height => 15, :width => 15) %>
			Realm list update is required.
			<%=
				link_to_remote "Click Here",
					{
						:update => "table",
						:before => "jQuery('#update_main').hide();jQuery('#update_progress').show();",
						:success => "jQuery('#update_progress').hide();jQuery('#update_finish').show();",
						:url => {
							:controller => "status",
							:action => "index",
							:params => params.merge({:do => "update"})
						}
					}, {:title => "Begin Update", :href => "#"}
			%> to begin the update.
		</div>
		<div id="update_progress" style="display:none;">
			<%= image_tag("spinner-search.gif", :align => "absmiddle", :border => 0, :id => "spinner-update") %>
			Update is in progress.  <span style="font-style:italic;font-weight:normal;">Please wait...</span>
		</div>
		<div id="update_finish" style="display:none;">
			<%= image_tag("success.png", :align => "absmiddle", :border => 0, :height => 15, :width => 15) %>
			Update was successful!
			<%=
				link_to_remote "Click here",
					{
						:update => "table",
						:before => "",
						:success => "jQuery('#last_update').html('" + Time.now.localtime.to_s(:long) + "'); jQuery('#needs_update').hide(); jQuery('#update_filler').hide();",
						:url => {
							:controller => "status",
							:action => "index"
						}
					}, {:title => "Reload page", :href => "#"}
			%> to reload the list.
		</div>
	</div>
	<script type="text/javascript">
		<%= visual_effect(:highlight, "needs_update", :startcolor => "#ffff99", :endcolor => "#ffffdd") %>
	</script>
	<div id="update_filler">&nbsp</div>
<% end %>
<div style="float:left;display:inline;padding-left:3px;">
	<% (97..122).to_a.each do |letter| %>
		<%= sort_first_character letter.chr %>
		&nbsp;|&nbsp;
	<% end %>
	<%= sort_first_character 'reset' %>&nbsp;
	<%= image_tag "spinner-search.gif", :align => "absmiddle", :border => 0, :id => "spinner-char", :style => "display:none;" %>
</div>
<div id="dosearch" style="float:right;display:inline;padding-right:3px;">
	<form name="sform" action="" method="post" style="display:inline;">
		<%= text_field_tag :query, params['query'], :size => 10, :id => 'query' %>
	</form>
	<%= image_tag("spinner-search.gif", :align => "absmiddle", :border => 0, :id => "spinner", :style => "display: none;" ) %>
</div>
<br />
<%= observe_field 'query', :frequency => 1, :update => 'table', :before => "jQuery('#spinner').show()", :success => "jQuery('#spinner').hide()", :url => {:action => 'index'}, :with => 'query' %>
<div class="filterform" align="left" style="display:block;padding-left:3px;margin-top:10px;margin-bottom:10px;">
	<fieldset style="padding-bottom:10px;">
		<legend>Filter Realms</legend>
			<form name="filterage" action="" method="post" style="display:inline;">
				<%= image_tag("spinner-search.gif", :align => "absmiddle", :border => 0, :id => "spinner-type", :style => "display:none;") %>
				<%= select_tag "type", options_for_select(Realm.gettypes) %>&nbsp;&nbsp;
				<%= image_tag("spinner-search.gif", :align => "absmiddle", :border => 0, :id => "spinner-pop", :style => "display:none;") %>
				<%= select_tag "pop", options_for_select(Realm::POPULATION) %>&nbsp;&nbsp;
				<%= image_tag("spinner-search.gif", :align => "absmiddle", :border => 0, :id => "spinner-locale", :style => "display:none;") %>
				<%= select_tag "locale", options_for_select(Realm.getlocales) %>&nbsp;&nbsp;
			</form>
			<%= observe_field "type", :frequency => 2, :update => "table", :before => "jQuery('#spinner-type').show();", :success => "jQuery('#spinner-type').hide();", :url => {:controller => "status", :action => "index"}, :with => "type" %>
			<%= observe_field "pop", :frequency => 2, :update => "table", :before => "jQuery('#spinner-pop').show();", :success => "jQuery('#spinner-pop').hide();", :url => {:controller => "status", :action => "index"}, :with => "pop" %>
			<%= observe_field "locale", :frequency => 2, :update => "table", :before => "jQuery('#spinner-locale').show();", :success => "jQuery('#spinner-locale').hide();", :url => {:controller => "status", :action => "index"}, :with => "locale" %>
	</fieldset>
</div>
<div id="table">
	<%= render :partial => "realms_list" %>
</div>